.visor{
    font-size: 75px;
    height: 90px;
    background-color: transparent;
    text-align: end;
}
.visor2{
    font-size: 20px;
    height: 5;
    background-color: transparent;
    text-align: end;
}
.btn-centrais{
    margin: 0;
    width: 63px;
    height: 63px;
}
.btn_laterais{
    margin: 0;
    padding: 0;
    width: 63px;
    height: 63px;
}
.btn-zero{
    margin: 0;
    padding: 0;
    width: 180px;
    height: 63px;
}